<!-- this is the home page, which contains a list of all games -->

<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="css/css.css">
<style>
body{
	background-color: rgba(76, 175, 80, 0.1);
}
</style>
<head>
    <title>Video Games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<!-- shows logged in user -->
	<h3 th:inline="text" align="center">Welcome [[${#httpServletRequest.remoteUser}]]!</h3><h1 align="center">Playing right now...</h1>
	<div class="col-md-4">
	</div>
	<br>
    <table class="table table-striped" table align="center">
		<tr>
	   <!--	<th>ID</th>	--> 
		    <th>Title</th>
		    <th>Publisher</th>
		    <th>Year</th>
		    <th>Price</th>
		    <th>Platform</th>
		    <th>Genre</th>
		    <th>Status</th>
		    <th>Edit</th></td>
		    <th>Delete</th></td>
		</tr>  
		
    	<tr th:if="${game.status == 'Playing'}" th:each = "game : ${games}">
       <!-- <td th:text="${game.id}"></td> --> 
    		<td th:text="${game.title}"></td>
    		<td th:text="${game.publisher}"></td>
    		<td th:text="${game.year}"></td>
    		<td th:text="${game.price}+ €"></td>
    		<td th:text="${game.platform}"></td>
    		<td th:text="${game.genre.name}"></td> 
    		<td th:text="${game.status}"></td>
    		<!-- only user admin/LOTTA can edit or delete games -->
    		<td sec:authorize="hasAuthority('LOTTA')"><a th:href="@{/edit/{id}(id=${game.id})}" class="button2">Edit</a></td> 
    		<td sec:authorize="hasAuthority('LOTTA')"><a th:href="@{/delete/{id}(id=${game.id})}" class="button2">Delete</a></td>   		
    	</tr>
     </table>
   	<p style="text-align:center"><a href="/add" class="button">Add Game</a></p>
   	
   	<h2 align="center">Game Queue</h2>
    <table id=table2 class="table table-striped" table align="center">
    	<tr>
    	 	<th>Title</th>
		    <th>Publisher</th>
		    <th>Year</th>
		    <th>Price</th>
		    <th>Platform</th>
		    <th>Genre</th>
		    <th>Status</th>
		    <th>Edit</th>
		    <th>Delete</th>
    	</tr>
    	<tr th:if="${game.status == 'Queue'}" th:each="game : ${games}">
    		<td th:text="${game.title}"></td>
    		<td th:text="${game.publisher}"></td>
    		<td th:text="${game.year}"></td>
    		<td th:text="${game.price}+ €"></td>
    		<td th:text="${game.platform}"></td>
    		<td th:text="${game.genre.name}"></td>
    		<td th:text="${game.status}"></td>
    		<!-- only user admin/LOTTA can edit or delete games -->
    		<td sec:authorize="hasAuthority('LOTTA')"><a th:href="@{/edit/{id}(id=${game.id})}" class="button2">Edit</a></td> 
    		<td sec:authorize="hasAuthority('LOTTA')"><a th:href="@{/delete/{id}(id=${game.id})}" class="button2">Delete</a></td>
    	</tr>
    </table>
    
    <p style="text-align:center"><a href="/add" class="button">Add Game</a></p>
    
    <h2 align="center">Completed Games</h2>
    <table id=table2 class="table table-striped" table align="center">
    	<tr>
    	 	<th>Title</th>
		    <th>Publisher</th>
		    <th>Year</th>
		    <th>Price</th>
		    <th>Platform</th>
		    <th>Genre</th>
		    <th>Status</th>
		    <th>Edit</th>
		    <th>Delete</th>
    	</tr>
    	<tr th:if="${game.status == 'Completed'}" th:each="game : ${games}">
    		<td th:text="${game.title}"></td>
    		<td th:text="${game.publisher}"></td>
    		<td th:text="${game.year}"></td>
    		<td th:text="${game.price}+ €"></td>
    		<td th:text="${game.platform}"></td>
    		<td th:text="${game.genre.name}"></td>
    		<td th:text="${game.status}"></td>
    		<!-- only user admin/LOTTA can edit or delete games -->
    		<td sec:authorize="hasAuthority('LOTTA')"><a th:href="@{/edit/{id}(id=${game.id})}" class="button2">Edit</a></td> 
    		<td sec:authorize="hasAuthority('LOTTA')"><a th:href="@{/delete/{id}(id=${game.id})}" class="button2">Delete</a></td>
    	</tr>
    </table>
    <p style="text-align:center"><a href="/add" class="button">Add Game</a></p>
    <div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post"> <!-- after logging out user gets redirected to /login?logout endpoint -->
			<p style="text-align:center"><input type="submit" value="Sign Out" class="button"/></p>
		</form>
	</div>
</body>
</html>